/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Configure I2C0 for SHT41 sensor */
&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	sht41: sht41@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;  /* 0:low, 1:medium, 2:high */
		status = "okay";
	};
};

/* Define I2C pinctrl settings to use pins 0.15 (SCL) and 0.17 (SDA) */
&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 0, 15)>,
				<NRF_PSEL(TWIM_SDA, 0, 17)>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 0, 15)>,
				<NRF_PSEL(TWIM_SDA, 0, 17)>;
			low-power-enable;
		};
	};
};

/* Use the red LED on the nRF52840 Dongle */
/ {
	aliases {
		led0 = &led1_red;
	};
};
